<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Veja no GitHub</a>
    
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.csv_url }}" class="btn">Download da Lista em CSV</a>
<!--        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a> -->
      {% endif %}
      <form method="post">
      <label for="search">Insira o nome da espécie:</label>
      <input type="text" id="search" name="search">
      <button type="submit">Submeter</button>
      </form>

      <div>
        <?php
        if (isset($_POST['submit'])) {
          // Lê o arquivo CSV e armazena os dados em uma matriz
          $file = fopen('dados/processados/lista_especies_ameacadas_P148.csv', 'r');
          $header = fgetcsv($file);
          $data = array();
          while ($row = fgetcsv($file)) {
            $data[] = array_combine($header, $row);
          }
          fclose($file);
          // Procura por correspondências nos dados do CSV
          $searchValue = $_POST['search'];
          $searchResults = array();
          foreach ($data as $row) {
            if (stripos($row['especie'], $searchValue) !== false) {
              $searchResults[] = $row['categoria_portaria148'];
            }
          }
          // Exibe os resultados da pesquisa
          if (!empty($searchResults)) {
            echo "<ul>";
            foreach ($searchResults as $result) {
              echo "<li>" . $result . "</li>";
            }
            echo "</ul>";
          } else {
            echo "Nenhum resultado encontrado. Confira o nome da espécie.";
          }
        }
        ?>
      </div>

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>